/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

 @font-face {
    font-family: 'cal-sans';
    src: url('/font/calsans-semibold-webfont.woff2') format('woff2'),
         url('/font/calsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'readex-pro';
    src: url('/font/readexpro-variablefont_wght-webfont.woff2') format('woff2'),
         url('/font/readexpro-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'readex-pro', Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #121212;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #ccc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
}
code {
	padding: 2px 5px;
	background-color: #555;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'cal-sans';
}


.transition-fade {
	transition: 0.1s;
	opacity: 1;
	transition-timing-function: ease-in-out;
}
  
html.is-animating .transition-fade {
	opacity: 0;
}
  
.swup-progress-bar {
	height: 4px;
	background-color: #2f73e0;
}
  
h1 {
	color: #f2b3cf;
}
  
h2 {
	color: #d2b3ff;
}
  
h3 {
	color: #ff5582;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color linear 0.15s;
}
a:hover {
	color: #d55672;
}

td a,
p a,
li a {
  text-decoration: none;
  box-shadow: inset 0 -0.12em 0 #d55672;
  -webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

td a:hover,
p a:hover,
li a:hover {
  box-shadow: inset 0 -1.5em 0 #d55672;
  color: #fff;
}

a:visited {
	color: inherit !important;
}