---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

const allPosts = await Astro.glob('../*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title='Tags' description='Index of all the tags' />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #888;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<content>
                <h1>Tags</h1>
                <ul>
                    {tags.map((tag) => (
                        <li><a href={`/tags/${tag}`}>{tag}</a></li>
                    ))}
                </ul>
            </content>
			<Footer />
		</main>
	</body>
</html>