h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
  position: absolute;
  text-decoration: none;
  width: 1.75ex;
  margin-left: -1.5ex;
  visibility: hidden;
  font-weight: normal;
  border-bottom: none;
}

h1 .anchor::before,
h2 .anchor::before,
h3 .anchor::before,
h4 .anchor::before,
h5 .anchor::before,
h6 .anchor::before {
  content: "#";
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  visibility: visible;
  border-bottom: none;
}
