@import "asciidoctor";
@import "syntax";

video {
  width: 100%;
  height: auto;
}

@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color;
    text-decoration: none;

    &:visited { color: $--visited-link-color; }
    &:hover { text-decoration: underline; }
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  figcaption { color: $--secondary-text-color; }
}

@mixin dark-appearance {
  @include theme(#212121, #fafafa, #eeeeee, #0071bc, #a359e9);
}

@mixin light-appearance {
  @include theme(#ffffff, #212121, #666666, #1e70bf, #921292);
}

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}

// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html,
body {
  background-color: white;
}

html {
  height: 100%;
}

.nested {
  list-style: none;
  margin: 0;
}

body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

*:target { background: yellow; }

.post-meta {
  text-align: right;
  font-style: italic;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  padding-bottom: 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

pre {
  background-color: black;
  padding: 1em;
  overflow-x: auto;
  /* Fix pre content overflowing parent without scroll bar */
}

table {
  width: 70vw;
  position: relative;
  left: calc(-35vw + 50%);
}

@media only screen and (max-width: 800px) {
  table {
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
}
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code:not(:where(.highlight *)) {
  background-color: black;
  font-size: 90%;
  padding: 2px 5px;
  color: darkblue;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

footer {
  text-align: center;
}

.imageblock .title {
  text-align: center;
  font-size: medium;
  margin-top: 5px;
  opacity: 0.5;
}