---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
            .not-found {
              text-align: center;
              display: flex;
              justify-content: center;
              flex-direction: column;
              height: 75vh;
            }
            .title {
              font-size: 5em;
              font-weight: bold;
              line-height: 1.1;
              text-shadow: 1px 0px 0px var(--primary-color);
            }
            .solution {
              letter-spacing: 0.5px;
            }
          </style>
	</head>
	<body>
		<Header />
		<main>
			<content>
				<div class="not-found">
                    <div class="title">404</div>
                    <p class="phrase">
                      <b>Page not found :(</b><br />The requested page could not be found.
                      <br />
                      <a href="/">back home</a>
                    </p>
                  </div>
			</content>
			<Footer />
		</main>
	</body>
</html>
