---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Anima's Stuff";
const description = "The perfect starter for your perfect blog.";
const permalink = Astro.site.href;
---

<BaseLayout {title} {description} {permalink}>
  <div class="container py-40">
    <h1>Welcome to my Website</h1>
    <p>d</p>
  </div>
</BaseLayout>
