---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Anima's Stuff";
const description = "The perfect starter for your perfect blog.";
const permalink = Astro.site.href;
---

<BaseLayout {title} {description} {permalink}>
  <div class="container py-40">
    <h1 class="mb-10">Welcome to Anima's Stuff</h1>
    <p>
      A place where me(Anima) write about gaming, aiming, comp sci, mathematics,
      philosophy and some queer theory
    </p>
    <br />
    <a href="/posts" class="hover:text-inherit"
      ><button
        class="rounded py-2 px-5 transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 bg-teal-600 shadow duration-300 hover:bg-teal-800"
        >Read Posts</button
      ></a
    >
  </div>
</BaseLayout>
