{{ define "main" }}
{{ partial "back_link.html" .}}

<article class="h-entry">
  <p class="post-meta">
    <time datetime="{{ .Date }}" class="dt-published">
      {{ .Date | time.Format site.Params.theme_config.date_format }}
    </time>
    <a rel="author" class="p-author h-card" href="/about">Anima</a>
  </p>

  <h1 class="p-name">{{ .Title }}</h1>

  <div class="e-content">{{ .Content }}</div>
</article>

<hr />
{{ $taxonomy := "tags" }}
{{ with .GetTerms $taxonomy }}
<p>
  {{ (site.GetPage $taxonomy).LinkTitle }}:
  {{ range $k, $_ := . -}}
  {{ if $k }}, {{ end }}
  <a href="{{ .RelPermalink }}" class="p-category">{{ .LinkTitle }}</a>
  {{- end }}
</p>
{{ end }}

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h4>See Also</h4>
<ul>
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
