---
import Nav from "./Nav.astro";

const { current = "" } = Astro.props;
---

<header>
  <h3><a href="/">Anima's Stuff</a></h3>
  <Nav {current} />
</header>

<style>
  header {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 2em;
    width: 100%;
  }
  a {
    text-decoration: none;
  }
</style>
