<div
  id="revue-embed"
  class="mx-auto max-w-3xl border p-5 rounded place-content-center flex shadow-lg mt-10"
>
  <form
    action="https://www.getrevue.co/profile/Anima/add_subscriber"
    method="post"
    id="revue-form"
    name="revue-form"
    target="_blank"
  >
    <h4>Subscribe to get new posts sent to your inbox</h4>
    <div>
      <label for="member_email">Email address</label>
      <input
        class="revue-form-field text-black form-input"
        placeholder="Your email address..."
        type="email"
        name="member[email]"
        id="member_email"
      /><button
        type="submit"
        name="member[subscribe]"
        id="member_submit"
        class="rounded mt-3 md:mt-0 md:ml-5 py-2 px-5 bg-teal-500 "
      >
        Submit
      </button>
    </div>
    <small class="revue-form-footer mx-auto">
      By subscribing, you agree with Revue’s
      <a target="_blank" href="https://www.getrevue.co/terms"
        >Terms of Service</a
      >
      and
      <a target="_blank" href="https://www.getrevue.co/privacy"
        >Privacy Policy</a
      >.
    </small>
  </form>
</div>

<style lang="scss">
  #revue-embed {
    border-color: var(--primary-color);
  }
</style>
