---
layout: default
home: true
---

<div class="wrapper">
  <div class="author">
    <img
      class="author-avatar"
      src="{{ site.author.avatar | relative_url }}"
      alt="{{ site.author.username }}"
      width="70px"
      height="70px"
      loading="lazy"
    />
    <h2 class="author-name">{{ site.title }}</h2>
    <p class="author-bio">{{ site.description }}</p>
  </div>
  <main aria-label="Content">
    <h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
    {%- for post in site.posts limit: site.number_of_posts -%}
    <article class="post-item">
      <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
      <h4 class="post-item-title">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h4>
    </article>
    {%- endfor -%}
  </main>
</div>
