---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
  current?: string;
  ogType?: string;
}
const { title, description, current, ogType } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/Blog">
  <head>
    <BaseHead {title} {description} {ogType} />
  </head>
  <body>
    <div class="layout">
      <Header {current} />

      <div class="container">
        <slot />
      </div>

      <Footer />
    </div>
  </body>
</html>

<style global lang="scss">
  @import "../styles/global.scss";
</style>
