{{- /*

  see
  - https://web.dev/iframe-lazy-loading/ (not used in this shortcode, just for
        learning purposes)
  - https://github.com/paulirish/lite-youtube-embed
  - https://developers.google.com/youtube/player_parameters#Parameters (check for
        parameters that can be used with the youtube player)
  
  */ -}}
  {{- $paramScratch := newScratch -}}
  {{- $paramScratch.SetInMap "params" "modestbranding" 2 -}}
  {{- $paramScratch.SetInMap "params" "iv_load_policy" 3 -}}
  {{- $paramScratch.SetInMap "params" "controls" 0 -}}
  {{- $paramScratch.SetInMap "params" "rel" 0 -}}
  {{- $paramScratch.SetInMap "params" "hl" .Site.Language.Lang -}}
  {{- $params := $paramScratch.Get "params" -}}
  {{- $paramsCollected := "" -}}
  {{- range $key, $value := $params -}}
      {{- $paramsCollected = printf "%s&%s=%s" $paramsCollected $key $value -}}
  {{- end -}}
  {{- $pc := site.Config.Privacy.YouTube -}}
  {{- if not $pc.Disable -}}
      {{- $id     := .Get "id"    | default (.Get 0) -}}
      {{- $class  := .Get "class" | default (.Get 1) -}}
      {{- $title  := .Get "title" | default (.Get 2) -}}
      {{- $params := .Get "params" | default $paramsCollected -}}
      {{- $config := site.Params.dnb.youtube -}}
      {{- $thumbnailUrl := "https://i.ytimg.com/vi/%s/maxresdefault.jpg" -}}
      {{- if eq (index $config "thumbnail_source" | default 1) 2 -}}
        {{- $thumbnailUrl = "https://ytimg.googleusercontent.com/vi/%s/maxresdefault.jpg" -}}
      {{- end -}}
      {{- $remoteThumbnailUrl := printf $thumbnailUrl $id -}}
      {{- $remoteThumb := resources.GetRemote $remoteThumbnailUrl -}}
      {{- $remoteThumbnail := $remoteThumb -}}
      {{- with resources.Copy (printf "assets/img/%s.jpg" $id) $remoteThumb -}}
        {{- $remoteThumbnail = . -}}
      {{ end -}}
      {{- $remoteUrl := "https://youtube.com/watch?v=%s"}}
      <div class="shortcode--youtube {{ with $class -}}{{- . -}}{{- end -}}">
        <lite-youtube videoid="{{- $id -}}" {{ with $title -}}
              playlabel="{{- . -}}"{{- end -}}
              params="{{- $params -}}"
              style="background-image: url('{{- $remoteThumbnail.Permalink -}}');">
            <a href="{{- $remoteUrl -}}" class="lty-playbtn" title="Play Video">
              <span class="lyt-visually-hidden">Play Video</span>
            </a>
        </lite-youtube>
      </div>
  {{- end -}}